@model IEnumerable<MovieFu.Models.Movie>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Avg Rating
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
@if (User.IsInRole("admin"))
{
<text>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieID }) |
</text>
}
            @Html.ActionLink("Details", "Details", new { id=item.MovieID })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Description
        </td>
        <td>
            @Html.RatingsText(item.Ratings) 

        </td>
    </tr>
}

</table>


