@model MovieFu.Models.Rating

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Rating</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">@Model.UserName</div>

    <div class="display-label">Comments</div>
    <div class="display-field">@Model.Comments</div>

    <div class="display-label">Stars</div>
    <div class="display-field">@Model.Stars</div>

    <div class="display-label">Movie</div>
    <div class="display-field">@(Model.Movie == null ? "None" : Model.Movie.Title)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


