@model MovieFu.Models.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rating</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">@Model.UserName</div>

    <div class="display-label">Comments</div>
    <div class="display-field">@Model.Comments</div>

    <div class="display-label">Stars</div>
    <div class="display-field">@Model.Stars</div>

    <div class="display-label">Movie</div>
    <div class="display-field">@(Model.Movie == null ? "None" : Model.Movie.Title)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RatingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


