@model IEnumerable<MovieFu.Models.Rating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            Comments
        </th>
        <th>
            Stars
        </th>
        <th>
            Movie
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>


@if (User.IsInRole("admin"))
{
    <text>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RatingID }) |
    </text>
}

            @Html.ActionLink("Details", "Details", new { id=item.RatingID }) 
        </td>
        <td>
			@item.UserName
        </td>
        <td>
			@item.Comments
        </td>
        <td>
			@item.Stars
        </td>
        <td>
			@(item.Movie == null ? "None" : item.Movie.Title)
        </td>
    </tr>
}

</table>


